.btn-primary {
    @apply bg-alerange text-white;
}

.btn-warning {
    @apply bg-yellow-500 text-white;
}

.btn-danger {
    @apply bg-red-500 text-white;
}

.btn-light-outline {
    @apply text-white border-white;
}

.btn-white-outline {
    @apply text-black border-[#f1f1f1];
}
